<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="admin/fragments/head :: head">[global head]</head>
    <body>
        <div id="page-container">
            <header th:replace="admin/fragments/header :: header">[common header]</header><!--#page-header-->
            <section id="page-content" class="pb-4">
                <div class="container">
                    <div class="row">
                        <aside th:replace="admin/fragments/sidebar :: sidebar('accounts')">[sidebar left]</aside><!--#page-aside-->
                        <section id="main" class="col col-12 col-sm-12 col-md-8 col-lg-9 mt-3 mt-sm-3 mt-md-0">
                            <div class="page-header" id="banner">
                                <div class="row">
                                    <div class="col-lg-8 col-md-7 col-sm-6">
                                        <h1 class="float-sm-left">Account Management</h1>
                                        <!--<p class="lead">A hand-drawn look for mockups and mirth</p>-->
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-6">
                                        <div class="sponsor">
                                            <a href="#" class="float-sm-right">
                                                <img th:src="@{/images/keybds.png}" height="30" alt=""/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="ki-message-holder" th:if="${feedbackMessage}" class="row">
                                <div class="col">
                                    <div class="alert alert-dismissible alert-success">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <strong th:text="${feedbackMessage}">[Feedback Message]</strong>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-4 col-lg-3 order-2 order-sm-2 order-md-1">
                                    <div th:if="${pager == null}" th:remove="tag">
                                        <p class="mt-2" th:text="#{pager.totalRecords.hasOne(0)}">[Total: 0 Record]</p>
                                    </div>
                                    <div th:if="${pager != null}" th:remove="tag">
                                        <p class="mt-2" th:text="${pager.totalRecords > 1} ? #{pager.totalRecords.hasMore(${pager.totalRecords})} : #{pager.totalRecords.hasOne(${pager.totalRecords})}">[Total: 10 Records]</p>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-8 col-lg-9 order-1 order-sm-1 order-md-2 text-left text-md-right">
                                    <button type="button" class="btn btn-secondary btn-sm">Import</button>
                                    <button type="button" class="btn btn-secondary btn-sm">Export</button>
                                    <a th:href="@{|/admin/accounts/add|}" class="text-decoration-none text-light">
                                        <button type="button" class="btn btn-info btn-sm">Add New</button>
                                    </a>
                                    <!--@{|/admin/accounts/delete|}-->
                                    <button type="button" id="ki-btn-del-all" class="btn btn-danger btn-sm" disabled="disabled" data-toggle="modal" data-target="#ki-modal-del-posts">Delete All</button>
                                </div>
                            </div>

                            <section id="k-accounts-management" class="row">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr th:class="${#lists.isEmpty(pager?.currentPageRecords)} ? 'kc-table-empty' : ''">
                                                <th scope="col" class="kc-width-1">
                                                    <div class="form-check">
                                                        <label class="form-check-label pl-0">
                                                            <input class="form-check-input ml-0" type="checkbox" id="ki-cb-all" value="" />
                                                        </label>
                                                    </div>
                                                </th>
                                                <!--<th th:replace="admin/fragments/table-th :: table-th(#{pager.title.accounts.full-name}, 'fullName', '')"></th>-->
                                                <!--<th th:replace="admin/fragments/table-th :: table-th(#{pager.title.accounts.username}, 'username', '')"></th>-->
                                                <!--<th th:replace="admin/fragments/table-th :: table-th(#{pager.title.accounts.email}, 'email', '')"></th>-->
                                                <th scope="col">
                                                    <a class="column-header" href="#">
                                                        <div th:text="#{pager.title.accounts.full-name}">[Full Name]</div>
                                                    </a>
                                                </th>
                                                <th scope="col">
                                                    <a class="column-header" href="#">
                                                        <div th:text="#{pager.title.accounts.username}">[Username]</div>
                                                    </a>
                                                </th>
                                                <th scope="col">
                                                    <a class="column-header" href="#">
                                                        <div th:text="#{pager.title.accounts.email}">[Email]</div>
                                                    </a>
                                                </th>
                                                <th scope="col">
                                                    <a class="column-header" href="#">
                                                        <div th:text="#{pager.title.accounts.action}">[Action]</div>
                                                    </a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody th:if="${pager != null}">
                                            <div th:if="${not #lists.isEmpty(pager.currentPageRecords)}" th:remove="tag">
                                                <tr th:each="account : ${pager.currentPageRecords}" class="table-active">
                                                    <td scope="row">
                                                        <div class="form-check">
                                                            <label class="form-check-label pl-0">
                                                                <input class="form-check-input ml-0 kc-cb-items" type="checkbox" th:id="|ki-cb-items-${account.id}|" th:value="${account.id}" />
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td th:text="${account.firstName + ' ' + account.lastName}">[Full Name]</td>
                                                    <td th:text="${account.username}">[Username]</td>
                                                    <td th:text="${account.email}">[Email]</td>
                                                    <td>
                                                        <!--<a th:href="@{${T(com.keybds.springblog.constants.UrlConstants).ADMIN_POST_UPDATE_ID}(id=${post.id})}"><i class="fas fa-edit"></i></a>-->
                                                        <a th:href="@{|/admin/accounts/update/${account.id}|}"><i class="fas fa-edit"></i></a>
                                                        <a th:href="@{|/admin/accounts/lock/${account.id}|}"><i class="fas fa-lock"></i></a>
                                                        <a th:href="@{|/admin/accounts/delete/${account.id}|}"><i class="fas fa-trash-alt"></i></a>
                                                    </td>
                                                </tr>
                                            </div>
                                            <div th:if="${#lists.isEmpty(pager.currentPageRecords)}" th:remove="tag">
                                                <tr>
                                                    <td colspan="5" th:text="#{admin.accounts.list.k-accounts-management.account-not-found}">[No account found]</td>
                                                </tr>
                                            </div>
                                        </tbody>
                                        <tbody th:if="${pager == null}">
                                            <tr>
                                                <td colspan="5" th:text="#{admin.accounts.list.k-accounts-management.account-not-found}">[No account found]</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-5 col-lg-4 order-2 order-sm-2 order-md-1">
                                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                        <button type="button" class="btn btn-primary">Show 100 records</button>
                                        <div class="btn-group" role="group">
                                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
                                                <a class="dropdown-item" href="#">Show 20 records</a>
                                                <a class="dropdown-item" href="#">Show 50 records</a>
                                                <a class="dropdown-item" href="#">Show 100 records</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-7 col-lg-8 order-1 order-sm-1 order-md-2">
                                    <ul class="pagination pagination-sm justify-content-start justify-content-md-end">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#">&laquo;</a>
                                        </li>
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#">&lt;</a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">2</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">3</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">4</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">5</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">&gt;</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">&raquo;</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section><!--#main-->
                    </div>
                </div>
            </section><!--#page-content-->
            <footer th:replace="admin/fragments/footer :: footer">[page footer]</footer><!--#page-footer-->
        </div>
        <div th:replace="admin/fragments/scripts :: scripts" th:remove="tag">[scripts]</div>
        <div th:replace="admin/fragments/scripts :: mvc-js">[function]</div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            $(document).ready(function() {
                onCheckedItems(hasCheckedItems('.kc-cb-items'));
                onChangeCheckboxes('#ki-cb-all', '.kc-cb-items');

                // handle feedback message fade after a period of time
                hideMessage('#ki-message-holder');
            });
            /*]]>*/
        </script>
    </body>
</html>
