<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="admin/fragments/head :: head">[global head]</head>
    <body>
        <div id="page-container">
            <header th:replace="admin/fragments/header :: header">[common header]</header><!--#page-header-->
            <section id="page-content" class="pb-4">
                <div class="container">
                    <div class="row">
                        <aside th:replace="admin/fragments/sidebar :: sidebar('accounts')">[sidebar left]</aside><!--#page-aside-->
                        <section id="main" class="col col-12 col-sm-12 col-md-8 col-lg-9 mt-3 mt-sm-3 mt-md-0">
                            <div class="page-header" id="banner">
                                <div class="row">
                                    <div class="col-lg-8 col-md-7 col-sm-6">
                                        <h1 class="float-sm-left">Update Account</h1>
                                        <!--<p class="lead">A hand-drawn look for mockups and mirth</p>-->
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-6">
                                        <div class="sponsor">
                                            <a th:replace="admin/fragments/logo :: logo('/', 'float-sm-right')"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <section class="row" id="k-update-account">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12" th:if="${accountInfo != null}">
                                    <form th:object="${accountInfo}" th:action="@{/admin/accounts/update/info}" method="post" class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr class="table-active">
                                                    <td scope="row">
                                                        <div class="container">
                                                            <div class="form-group row mb-0" th:classappend="${#fields.hasErrors('firstName')} ? 'has-danger'">
                                                                <label for="ki-input-first-name" class="col-md-12 col-lg-2 col-form-label">First Name</label>
                                                                <div class="col-md-12 col-lg-10">
                                                                    <input type="text" th:field="*{firstName}" class="form-control"
                                                                           th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'" id="ki-input-first-name" placeholder="" autocomplete="off">
                                                                    <ul th:if="${#fields.hasErrors('firstName')}" class="list-unstyled mb-0" th:classappend="'invalid-feedback'">
                                                                        <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}">[Invalid input]</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="table-active">
                                                    <td scope="row">
                                                        <div class="container">
                                                            <div class="form-group row mb-0" th:classappend="${#fields.hasErrors('lastName')} ? 'has-danger'">
                                                                <label for="ki-input-last-name" class="col-md-12 col-lg-2 col-form-label">Last Name</label>
                                                                <div class="col-md-12 col-lg-10">
                                                                    <input type="text" th:field="*{lastName}" class="form-control"
                                                                           th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'" id="ki-input-last-name" placeholder="" autocomplete="off">
                                                                    <ul th:if="${#fields.hasErrors('lastName')}" class="list-unstyled mb-0" th:classappend="'invalid-feedback'">
                                                                        <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}">[Invalid input]</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="table-active">
                                                    <td scope="row">
                                                        <div class="container">
                                                            <div class="form-group row mb-0" th:classappend="${#fields.hasErrors('username')} ? 'has-danger'">
                                                                <label for="ki-input-username" class="col-md-12 col-lg-2 col-form-label">Username</label>
                                                                <div class="col-md-12 col-lg-10">
                                                                    <input type="text" th:field="*{username}" class="form-control"
                                                                           th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'" id="ki-input-username" placeholder="" autocomplete="off">
                                                                    <ul th:if="${#fields.hasErrors('username')}" class="list-unstyled mb-0" th:classappend="'invalid-feedback'">
                                                                        <li th:each="err : ${#fields.errors('username')}" th:text="${err}">[Invalid input]</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="table-active">
                                                    <td scope="row">
                                                        <div class="container">
                                                            <div class="form-group row mb-0" th:classappend="${#fields.hasErrors('email')} ? 'has-danger'">
                                                                <label for="ki-input-email" class="col-md-12 col-lg-2 col-form-label">Email</label>
                                                                <div class="col-md-12 col-lg-10">
                                                                    <input type="text" th:field="*{email}" class="form-control"
                                                                           th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" id="ki-input-email" placeholder="" autocomplete="off">
                                                                    <ul th:if="${#fields.hasErrors('email')}" class="list-unstyled mb-0" th:classappend="'invalid-feedback'">
                                                                        <li th:each="err : ${#fields.errors('email')}" th:text="${err}">[Invalid input]</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="table-active">
                                                    <td scope="row">
                                                        <div class="container">
                                                            <div class="form-group row mb-0">
                                                                <div class="col-md-12 col-lg-2"></div>
                                                                <div class="col-md-12 col-lg-10">
                                                                    <button type="submit" id="ki-btn-save-post" class="btn btn-primary">Update</button>
                                                                    <button type="button" th:onclick="'window.location.href=\'' + @{|/admin/accounts/|} + '\''" class="btn btn-secondary">Cancel</button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <input type="hidden" id="ki-input-id" th:field="*{id}" />
                                    </form>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12" th:if="${accountInfo == null}">
                                    <p th:text="#{admin.accounts.list.k-accounts-management.account-not-found}">[No Account found]</p>
                                </div>
                            </section>
                        </section><!--#main-->
                    </div>
                </div>
            </section><!--#page-content-->
            <footer th:replace="admin/fragments/footer :: footer">[page footer]</footer><!--#page-footer-->
        </div>
        <div th:replace="admin/fragments/scripts :: scripts" th:remove="tag">[common scripts]</div>
    </body>
</html>
