<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="admin/fragments/head :: head">[global head]</head>
    <body>
        <div id="page-container">
            <header th:replace="admin/fragments/header :: header">[common header]</header><!--#page-header-->
            <section id="page-content" class="pb-4">
                <div class="container">
                    <div class="row">
                        <aside th:replace="admin/fragments/sidebar :: sidebar('posts')">[sidebar left]</aside><!--#page-aside-->
                        <section id="main" class="col col-12 col-sm-12 col-md-8 col-lg-9 mt-3 mt-sm-3 mt-md-0">
                            <div class="page-header" id="banner">
                                <div class="row">
                                    <div class="col-lg-8 col-md-7 col-sm-6">
                                        <h1 class="float-sm-left">Add Post</h1>
                                        <!--<p class="lead">A hand-drawn look for mockups and mirth</p>-->
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-6">
                                        <div class="sponsor">
                                            <a th:replace="admin/fragments/logo :: logo('/', 'float-sm-right')"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <section class="row" id="k-add-post">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12" th:if="${post != null}">
                                    <form th:object="${post}" th:action="@{/admin/posts/add}" method="post" class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr class="table-active">
                                                    <td scope="row">
                                                        <div class="container">
                                                            <div class="form-group row mb-0" th:classappend="${#fields.hasErrors('postStatus')} ? 'has-danger'">
                                                                <label for="ki-select-status" class="col-md-12 col-lg-2 col-form-label">Status</label>
                                                                <div class="col-md-12 col-lg-10">
                                                                    <select th:field="*{postStatus}" class="form-control kc-width-9" id="ki-select-status">
                                                                        <option th:each="statusOption : *{postStatusOptions}" th:value="${statusOption.statusKey}" th:text="${statusOption.statusValue}" th:if="${statusOption.statusKey == 2}" selected="selected"></option>
                                                                        <option th:each="statusOption : *{postStatusOptions}" th:value="${statusOption.statusKey}" th:text="${statusOption.statusValue}" th:if="${statusOption.statusKey != 2}" ></option>
                                                                    </select>
                                                                    <ul th:if="${#fields.hasErrors('postStatus')}" class="list-unstyled mb-0" th:classappend="'invalid-feedback'">
                                                                        <li th:each="err : ${#fields.errors('postStatus')}" th:text="${err}">[Invalid input]</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="table-active">
                                                    <td scope="row">
                                                        <div class="container">
                                                            <div class="form-group row mb-0" th:classappend="${#fields.hasErrors('postTitle')} ? 'has-danger'">
                                                                <label for="inputEmail3" class="col-md-12 col-lg-2 col-form-label">Title</label>
                                                                <div class="col-md-12 col-lg-10">
                                                                    <input type="text" th:field="*{postTitle}" class="form-control"
                                                                           th:classappend="${#fields.hasErrors('postTitle')} ? 'is-invalid'" id="inputEmail3" placeholder="" autocomplete="off">
                                                                    <ul th:if="${#fields.hasErrors('postTitle')}" class="list-unstyled mb-0" th:classappend="'invalid-feedback'">
                                                                        <li th:each="err : ${#fields.errors('postTitle')}" th:text="${err}">[Invalid input]</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="table-active">
                                                    <td scope="row">
                                                        <div class="container">
                                                            <div class="form-group row mb-0" th:classappend="${#fields.hasErrors('postThumbnail')} ? 'has-danger'">
                                                                <label for="ki-text-thumbnail" class="col-md-12 col-lg-2 col-form-label">Thumbnail</label>
                                                                <div class="col-md-12 col-lg-10">
                                                                    <textarea id="ki-text-thumbnail" th:field="*{postThumbnail}" class="form-control"
                                                                              th:classappend="${#fields.hasErrors('postThumbnail')} ? 'is-invalid'" rows="2"></textarea>
                                                                    <ul th:if="${#fields.hasErrors('postThumbnail')}" class="list-unstyled mb-0" th:classappend="'invalid-feedback'">
                                                                        <li th:each="err : ${#fields.errors('postThumbnail')}" th:text="${err}">[Invalid input]</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="table-active">
                                                    <td scope="row">
                                                        <div class="container">
                                                            <div class="form-group row mb-0" th:classappend="${#fields.hasErrors('postExcerpt')} ? 'has-danger'">
                                                                <label for="ki-text-excerpt" class="col-md-12 col-lg-2 col-form-label">Excerpt</label>
                                                                <div class="col-md-12 col-lg-10">
                                                                    <textarea id="ki-text-excerpt" th:field="*{postExcerpt}" class="form-control"
                                                                              th:classappend="${#fields.hasErrors('postExcerpt')} ? 'is-invalid'" rows="3"></textarea>
                                                                    <ul th:if="${#fields.hasErrors('postExcerpt')}" class="list-unstyled mb-0" th:classappend="'invalid-feedback'">
                                                                        <li th:each="err : ${#fields.errors('postExcerpt')}" th:text="${err}">[Invalid input]</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="table-active">
                                                    <td scope="row">
                                                        <div class="container">
                                                            <div class="form-group row mb-0" th:classappend="${#fields.hasErrors('postContent')} ? 'has-danger'">
                                                                <label for="summernote" class="col-md-12 col-lg-2 col-form-label">Content</label>
                                                                <div class="col-md-12 col-lg-10">
                                                                                <textarea id="summernote" th:field="*{postContent}" class="form-control"
                                                                                          th:classappend="${#fields.hasErrors('postContent')} ? 'is-invalid'" rows="3"></textarea>
                                                                    <ul th:if="${#fields.hasErrors('postContent')}" class="list-unstyled mb-0" th:classappend="'invalid-feedback'">
                                                                        <li th:each="err : ${#fields.errors('postContent')}" th:text="${err}">[Invalid input]</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="table-active">
                                                    <td scope="row">
                                                        <div class="container">
                                                            <div class="form-group row mb-0" th:classappend="${#fields.hasErrors('postTags')} ? 'has-danger'">
                                                                <label for="q-lib-tags-input" class="col-md-12 col-lg-2 col-form-label">Tags</label>
                                                                <div class="col-md-12 col-lg-10">
                                                                    <select id="q-lib-tags-input" multiple="multiple" data-role="tagsinput" th:field="*{postTags}"
                                                                            class="form-control" th:classappend="${#fields.hasErrors('postTags')} ? 'is-invalid'"></select>
                                                                    <ul th:if="${#fields.hasErrors('postTags')}" class="list-unstyled mb-0" th:classappend="'invalid-feedback'">
                                                                        <li th:each="err : ${#fields.errors('postTags')}" th:text="${err}">[Invalid input]</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="table-active">
                                                    <td scope="row">
                                                        <div class="container">
                                                            <div class="form-group row mb-0" th:classappend="${#fields.hasErrors('postCategory')} ? 'has-danger'">
                                                                <label for="ki-select-status" class="col-md-12 col-lg-2 col-form-label">Category</label>
                                                                <div class="col-md-12 col-lg-10">
                                                                    <select th:field="*{postCategory}" class="form-control kc-width-9" id="qi-select-category">
                                                                        <option th:each="category : *{postCategoryOptions}" th:value="${category.categoryKey}" th:text="${category.categoryValue}" th:if="${category.categoryKey == 1}" selected="selected"></option>
                                                                        <option th:each="category : *{postCategoryOptions}" th:value="${category.categoryKey}" th:text="${category.categoryValue}" th:if="${category.categoryKey != 1}" ></option>
                                                                    </select>
                                                                    <ul th:if="${#fields.hasErrors('postCategory')}" class="list-unstyled mb-0" th:classappend="'invalid-feedback'">
                                                                        <li th:each="err : ${#fields.errors('postCategory')}" th:text="${err}">[Invalid input]</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="table-active">
                                                    <td scope="row">
                                                        <div class="container">
                                                            <div class="form-group row mb-0">
                                                                <div class="col-md-12 col-lg-2"></div>
                                                                <div class="col-md-12 col-lg-10">
                                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                    </form>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12" th:if="${post == null}">
                                    <p th:text="#{admin.posts.list.k-post-management.post-not-found}">[No post found]</p>
                                </div>
                            </section>
                        </section><!--#main-->
                    </div>
                </div>
            </section><!--#page-content-->
            <footer th:replace="admin/fragments/footer :: footer">[page footer]</footer><!--#page-footer-->
        </div>
        <div th:replace="admin/fragments/scripts :: scripts">[common scripts]</div>
        <div th:replace="admin/fragments/scripts :: csrf-js">[common scripts]</div>
        <script>
            var tags = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.whitespace,
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: {
                    url: '/admin/ajax/tags/values',
                    cache: false
                }
            });
            tags.initialize();
            $('#q-lib-tags-input').tagsinput({
                tagClass: 'badge badge-secondary',
                confirmKeys: [13, 188],
                typeaheadjs: {
                    name: 'postTags',
                    source: tags.ttAdapter()
                }
            });
            $('body .bootstrap-tagsinput input').on('keypress', function(e){
                if (e.keyCode == 13) {
                    e.keyCode = 188;
                    e.preventDefault();
                }
            })
        </script>
    </body>
</html>
