<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="admin/fragments/head :: head">[global head]</head>
    <body>
        <div id="page-container">
            <header th:replace="admin/fragments/header :: header">[common header]</header><!--#page-header-->
            <section id="page-content" class="pb-4">
                <div class="container">
                    <div class="row">
                        <aside th:replace="admin/fragments/sidebar :: sidebar('posts')">[sidebar left]</aside><!--#page-aside-->
                        <section id="main" class="col col-12 col-sm-12 col-md-8 col-lg-9 mt-3 mt-sm-3 mt-md-0">
                            <div class="page-header" id="banner">
                                <div class="row">
                                    <div class="col-lg-8 col-md-7 col-sm-6">
                                        <h1 class="float-sm-left">Posts Management</h1>
                                        <!--<p class="lead">A hand-drawn look for mockups and mirth</p>-->
                                    </div>
                                    <div class="col-lg-4 col-md-5 col-sm-6">
                                        <div class="sponsor">
                                            <a th:replace="admin/fragments/logo :: logo('/', 'float-sm-right')"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="ki-message-holder" th:if="${feedbackMessage}" class="row">
                                <div class="col">
                                    <div class="alert alert-dismissible alert-success">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <strong th:text="${feedbackMessage}">[Feedback Message]</strong>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-4 col-lg-3 order-2 order-sm-2 order-md-1">
                                    <div th:if="${pager == null}" th:remove="tag">
                                        <p class="mt-2" th:text="#{pager.totalRecords.hasOne(0)}">[Total: 0 Record]</p>
                                    </div>
                                    <div th:if="${pager != null}" th:remove="tag">
                                        <p class="mt-2" th:text="${pager.totalRecords > 1} ? #{pager.totalRecords.hasMore(${pager.totalRecords})} : #{pager.totalRecords.hasOne(${pager.totalRecords})}">[Total: 10 Records]</p>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-8 col-lg-9 order-1 order-sm-1 order-md-2 text-left text-md-right">
                                    <a th:href="@{|/admin/posts/add|}" class="text-decoration-none text-light">
                                        <button type="button" class="btn btn-info btn-sm">Add New</button>
                                    </a>
                                    <button type="button" id="ki-btn-del-all" class="btn btn-danger btn-sm" disabled="disabled" data-toggle="modal" data-target="#ki-modal-del-posts">Delete All</button>
                                </div>
                            </div>

                            <section id="k-posts-management" class="row">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr th:class="${#lists.isEmpty(pager?.currentPageRecords)} ? 'kc-table-empty' : ''">
                                                <th scope="col" class="kc-width-1">
                                                    <div class="form-check">
                                                        <label class="form-check-label pl-0">
                                                            <input class="form-check-input ml-0" type="checkbox" id="ki-cb-all" value="" />
                                                        </label>
                                                    </div>
                                                </th>
                                                <th th:replace="admin/fragments/table-th :: table-th(#{pager.title.posts.title}, 'title', '')"></th>
                                                <th th:replace="admin/fragments/table-th :: table-th(#{pager.title.posts.date}, 'date', '')"></th>
                                                <th scope="col">
                                                    <a class="column-header" href="#">
                                                        <div th:text="#{pager.title.posts.status}">[Status]</div>
                                                    </a>
                                                </th>
                                                <th scope="col">
                                                    <a class="column-header" href="#">
                                                        <div th:text="#{pager.title.posts.action}">[Action]</div>
                                                    </a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody th:if="${pager != null}">
                                            <div th:if="${not #lists.isEmpty(pager.currentPageRecords)}" th:remove="tag">
                                                <tr th:each="post : ${pager.currentPageRecords}" class="table-active">
                                                    <td scope="row">
                                                        <div class="form-check">
                                                            <label class="form-check-label pl-0">
                                                                <input class="form-check-input ml-0 kc-cb-items" type="checkbox" th:id="|ki-cb-items-${post.id}|" th:value="${post.id}" />
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td th:text="${post.articleTitle}">[Post Title]</td>
                                                    <td th:text="${T(com.quopri.blogify.utils.DateTimeUtil).convertZonedDateTimeToStringTime(post.articleDate)}">[Post Date]</td>
                                                    <td th:text="${post.articleStatus.statusValue}">[PUBLIC]</td>
                                                    <td>
                                                        <a th:href="@{${T(com.quopri.blogify.constants.UrlConstants).ADMIN_POST_UPDATE_ID}(id=${post.id})}"><i class="fas fa-edit"></i></a>
                                                        <span class="kc-btn-del"><i class="fas fa-trash-alt"></i></span>
                                                    </td>
                                                </tr>
                                            </div>
                                            <div th:if="${#lists.isEmpty(pager.currentPageRecords)}" th:remove="tag">
                                                <tr>
                                                    <td colspan="5" th:text="#{admin.posts.list.k-post-management.post-not-found}">[No post found]</td>
                                                </tr>
                                            </div>
                                        </tbody>
                                        <tbody th:if="${pager == null}">
                                            <tr>
                                                <td colspan="5" th:text="#{admin.posts.list.k-post-management.post-not-found}">[No post found]</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="modal fade" id="ki-modal-del-posts" tabindex="-1" role="dialog" aria-labelledby="delPostsModel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="delPostsModel">Confirm delete posts</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete these posts?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" id="ki-btn-del-posts-yes" class="btn btn-primary">Yes</button>
                                                <button type="button" id="ki-btn-del-posts-no" class="btn btn-secondary" data-dismiss="modal">No</button>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--ki-modal-del-posts-->

                                <div class="modal fade" id="ki-modal-del-post" tabindex="-1" role="dialog" aria-labelledby="delPostModel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="delPostModel">Confirm delete post</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete this post?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" id="ki-btn-del-post-yes" class="btn btn-primary">Yes</button>
                                                <button type="button" id="ki-btn-del-post-no" class="btn btn-secondary" data-dismiss="modal">No</button>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--ki-modal-del-post-->
                            </section>
                            <div th:replace="admin/fragments/pager :: pager">[pager]</div>
                            <!--<div id="ki-hid-val">-->
                                <!--<input type="text" id="ki-hid-sort-name" name="sortName" th:value="${pager?.sortName}" />-->
                                <!--<input type="text" id="ki-hid-sort-dir" name="sortDir" th:value="${pager?.sortDir}" />-->
                                <!--<input type="text" id="ki-hid-page-index" name="pageIndex" th:value="${pager?.pageIndex}" />-->
                            <!--</div>-->
                            <div id="ki-dynamic-form"></div>
                        </section><!--#main-->
                    </div>
                </div>
            </section><!--#page-content-->
            <footer th:replace="admin/fragments/footer :: footer">[page footer]</footer><!--#page-footer-->
        </div>
        <div th:replace="admin/fragments/scripts :: scripts">[common scripts]</div>
        <div th:replace="admin/fragments/scripts :: mvc-js">[function]</div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var isSubmitted = false;

            function submitForm(path, params, method) {
                console.log(JSON.stringify(params));
                if (isSubmitted) {
                    return;
                }
                method = method || "POST";
                var form = document.createElement("form");
                form.setAttribute("method", method);
                form.setAttribute("action", path);
                $.each(params, function (index, item) {
                    if (item.hasOwnProperty('page')) {
                        var hiddenField = document.createElement("input");
                        hiddenField.setAttribute("type", "hidden");
                        hiddenField.setAttribute("name", 'page');
                        hiddenField.setAttribute("value", item['page']);
                        form.appendChild(hiddenField);
                    }
                    if (item.hasOwnProperty('sort')) {
                        var hiddenField = document.createElement("input");
                        hiddenField.setAttribute("type", "hidden");
                        hiddenField.setAttribute("name", 'sort');
                        hiddenField.setAttribute("value", item['sort']);
                        form.appendChild(hiddenField);
                    }
                    if (item.hasOwnProperty('dir')) {
                        var hiddenField = document.createElement("input");
                        hiddenField.setAttribute("type", "hidden");
                        hiddenField.setAttribute("name", 'dir');
                        hiddenField.setAttribute("value", item['dir']);
                        form.appendChild(hiddenField);
                    }
                });
                $('#ki-dynamic-form').append(form);
                form.submit();
                isSubmitted = true;
            }

            function sortTable() {
                $('tr:not(.kc-table-empty) .kc-th-sort').on('click', function () {
                    var sortName = $(this).data('sort-name');
                    var sortDir = $(this).data('sort-dir');
                    var pageIndex = $(this).data('page-index');
                    sortDir = (sortDir === 'desc') ? 'asc' : 'desc';
                    var objList = [];
                    var obj = {
                        page: pageIndex + 1,
                        sort : sortName,
                        dir: sortDir
                    };
                    objList.push(obj);
                    if (objList.length === 0) {
                        console.log('Please select at least one post.');
                    } else {
                        var path = /*[[@{${T(com.quopri.blogify.constants.UrlConstants).ADMIN_POSTS_LIST}}]]*/ null;
                        submitForm(path, objList, 'POST');
                    }
                });
            }

            function doSubmitTo(path, params, method) {
                if (isSubmitted) {
                    return;
                }
                method = method || "POST";
                var form = document.createElement("form");
                form.setAttribute("method", method);
                form.setAttribute("action", path);
                $.each(params, function (index, item) {
                    if (item.hasOwnProperty('id')) {
                        var hiddenField = document.createElement("input");
                        hiddenField.setAttribute("type", "hidden");
                        hiddenField.setAttribute("name", 'id');
                        hiddenField.setAttribute("value", item['id']);
                        form.appendChild(hiddenField);
                    }
                });
                $('#ki-dynamic-form').append(form);
                form.submit();
                isSubmitted = true;
            }

            $(document).ready(function() {
                // handle feedback message fade after a period of time
                hideMessage('#ki-message-holder');

                onCheckedItems(hasCheckedItems('.kc-cb-items'));
                onChangeCheckboxes('#ki-cb-all', '.kc-cb-items');

                // open confirm dialog delete single post
                $('.kc-btn-del').on('click', function (event) {
                    event.preventDefault();
                    var currentRowPost = $(this).closest('tr');
                    var postId = $(currentRowPost).find("input[type=checkbox]").val();
                    $('#ki-modal-del-post #ki-btn-del-post-yes').attr('data-post-id', postId);
                    $('#ki-modal-del-post').modal();
                });

                // confirmed delete single post
                $('#ki-btn-del-post-yes').on('click', function (event) {
                    event.preventDefault();
                    var postId = $(this).data('post-id');
                    var objList = [];
                    var path = /*[[@{${T(com.quopri.blogify.constants.UrlConstants).ADMIN_POSTS_DELETE}}]]*/ null;
                    var obj = {id: postId};
                    objList.push(obj);
                    doSubmitTo(path, objList, 'POST');
                });

                // close confirm dialog single post
                $('#ki-btn-del-post-no').on('click', function (event) {
                    event.preventDefault();
                    $('#ki-modal-del-post #ki-btn-del-post-yes').removeAttr('data-post-id');
                });

                $('#ki-modal-del-post').on('hidden.bs.modal', function (event) {
                    event.preventDefault();
                    $('#ki-modal-del-post #ki-btn-del-post-yes').removeAttr('data-post-id');
                });

                // confirmed delete multi post
                $('#ki-btn-del-posts-yes').on('click', function (event) {
                    event.preventDefault();
                    var objList = [];
                    $(':checkbox:checked').each(function (index) {
                        var obj = {
                            id : $(this).val()
                        };
                        objList.push(obj);
                    });
                    if (objList.length === 0) {
                        console.log('Please select at least one post.');
                    } else {
                        var path = /*[[@{${T(com.quopri.blogify.constants.UrlConstants).ADMIN_POSTS_DELETE}}]]*/ null;
                        doSubmitTo(path, objList, 'POST');
                    }
                });

                // sort table when click table header
                sortTable();
            });
            /*]]>*/
        </script>
    </body>
</html>
