<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title></title>
    </head>
    <body>
        <footer th:fragment="footer" id="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6 order-2 order-sm-2 order-md-1 order-lg-1">
                        <ul class="list-unstyled mb-md-0 pt-md-3">
                            <li><a href="#" class="text-decoration-none">&copy; 2019 KeyBDS</a></li>
                            <li><a href="#" class="text-decoration-none">Terms</a></li>
                            <li><a href="#" class="text-decoration-none">Privacy</a></li>
                        </ul>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-6 col-lg-6 order-1 order-sm-1 order-md-2 order-lg-2">
                        <ul class="list-unstyled mb-md-0 pt-md-3 float-md-right">
                            <li><a href="#"><button type="button" class="btn btn-outline-primary btn-sm"><i class="fab fa-facebook-f"></i></button></a></li>
                            <li><a href="#"><button type="button" class="btn btn-outline-primary btn-sm"><i class="fab fa-twitter"></i></button></a></li>
                            <li><a href="#"><button type="button" class="btn btn-outline-primary btn-sm"><i class="fab fa-google"></i></button></a></li>
                            <li><a href="#"><button type="button" class="btn btn-outline-primary btn-sm"><i class="fab fa-linkedin-in"></i></button></a></li>
                            <li><a href="#"><button type="button" class="btn btn-outline-primary btn-sm"><i class="fab fa-github"></i></button></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer><!--#page-footer-->
    </body>
</html>
