<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title></title>
    </head>
    <body>
        <div th:fragment="scripts" th:remove="tag">
            <script th:src="@{/js/jquery.min.js}"></script>
            <script th:src="@{/js/popper.min.js}"></script>
            <script th:src="@{/js/bootstrap.min.js}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
            <script th:src="@{/js/sweetalert.min.js}"></script>
            <script th:src="@{/js/custom.js}"></script>
            <script th:src="@{/js/summernode.js}"></script>
        </div>

        <div th:fragment="csrf-js" th:remove="tag">
            <script th:inline="javascript">
                /*<![CDATA[*/
                $(document).ready(function () {
                    $(function () {
                        var token = $("meta[name='_csrf']").attr("content");
                        var header = $("meta[name='_csrf_header']").attr("content");
                        $(document).ajaxSend(function (e, xhr, options) {
                            xhr.setRequestHeader(header, token);
                        });
                    });
                });
                /*]]>*/
            </script>
        </div>

        <div th:fragment="mvc-js" th:remove="tag">
            <script th:inline="javascript">
                /*<![CDATA[*/
                function hideMessage(messageBlock) {
                    $(messageBlock).delay(5000).fadeOut(400, function() {
                        $(this).remove();
                    });
                }

                function hasCheckedItems(cssClass) {
                    return $(cssClass).filter(":checked").length > 0;
                }

                function onCheckedItems(hasItem) {
                    if (hasItem) {
                        $('#ki-btn-del-all').removeAttr('disabled');
                    } else {
                        $('#ki-btn-del-all').attr('disabled', 'disabled');
                    }
                }

                function onChangeCheckboxes(cbAll, cbItems) {
                    $(cbAll).change(function () {
                        $(cbItems).prop('checked', $(this).prop('checked'));
                        onCheckedItems(hasCheckedItems($(cbItems)));
                    });
                    $(cbItems).change(function () {
                        if ($(this).prop('checked') === false) {
                            $(cbAll).prop('checked', false)
                        }
                        if ($(cbItems).filter(":checked").length === $(cbItems).length) {
                            $(cbAll).prop('checked', true);
                        }
                        onCheckedItems(hasCheckedItems($(cbItems)));
                    });
                }
                /*]]>*/
            </script>
        </div>
    </body>
</html>
