<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title></title>
    </head>
    <body>
        <div th:fragment="scripts">
            <script th:src="@{/js/jquery.min.js}"></script>
            <script th:src="@{/js/popper.min.js}"></script>
            <script th:src="@{/js/bootstrap.min.js}"></script>
            <script th:src="@{/js/custom.js}"></script>
        </div>

        <div th:fragment="csrf-js" th:remove="tag">
            <script th:inline="javascript">
                /*<![CDATA[*/
                // $(document).ready(function () {
                //     $(function () {
                //         var token = $("meta[name='_csrf']").attr("content");
                //         var header = $("meta[name='_csrf_header']").attr("content");
                //         $(document).ajaxSend(function (e, xhr, options) {
                //             xhr.setRequestHeader(header, token);
                //         });
                //     });
                // });
                /*]]>*/
            </script>
        </div>

        <div th:fragment="tag-cloud">
            <script th:inline="javascript">
                /*<![CDATA[*/
                $(document).ready(function() {
                    $.get("/aj/tag-cloud", function (data) {
                        $('#tag-cloud').html(data);
                    });
                });
                /*]]>*/
            </script>
        </div>
    </body>
</html>
