<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title></title>
    </head>
    <body>
        <aside th:fragment="sidebar(activeNav)" id="page-aside" class="col col-12 col-sm-12 col-md-4 col-lg-3 mt-3 mt-sm-3 mt-md-0">
            <!--<div id="k-nav-selection">-->
                <!--<div class="list-group mb-4">-->
                    <!--<a href="#" class="list-group-item list-group-item-action">Search</a>-->
                    <!--<a href="#" class="list-group-item list-group-item-action" th:classappend="${activeNav == 'accounts'} ? 'active'">Accounts</a>-->
                    <!--<a href="#" class="list-group-item list-group-item-action" th:classappend="${activeNav == 'posts'} ? 'active'">Posts</a>-->
                    <!--<a href="#" class="list-group-item list-group-item-action" th:classappend="${activeNav == 'tags'} ? 'active'">Tags</a>-->
                    <!--<a href="#" class="list-group-item list-group-item-action" th:classappend="${activeNav == 'categories'} ? 'active'">Categories</a>-->
                <!--</div>-->
            <!--</div>-->
            <div id="tag-cloud" class="card m-0 p-0">
                <ul class="tag-list">
                    <li><a href="#" class="minimum-tag">Java</a></li>
                    <li><a href="#" class="medium-tag">Thymeleaf</a></li>
                    <li><a href="#" class="large-tag">Spring</a></li>
                    <li><a href="#" class="maximum-tag">Linux</a></li>
                    <li><a href="#" class="medium-tag">JPA</a></li>
                    <li><a href="#" class="small-tag">Microservices</a></li>
                    <li><a href="#" class="minimum-tag">Gradle</a></li>
                    <li><a href="#" class="small-tag">Hibernate</a></li>
                    <li><a href="#" class="maximum-tag">Javascript</a></li>
                    <li><a href="#" class="large-tag">Solr</a></li>
                </ul>
            </div>
        </aside><!--#page-aside-->
    </body>
</html>
